## Measuring Success: Splitting up the data for train, validation, and test set

Split the dataset up into the following segments:
1. Training Data: 60%
2. Validation Data: 20%
3. Test Data: 20%

### Read in data

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split

titanic_df = pd.read_csv('../Data/titanic.csv')
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Split into train, validation, and test set

In [6]:
# as Survived column is label, we will have to remove it from features and also want to split it alone
features = titanic_df.drop(['Survived'], axis=1)
labels = titanic_df['Survived']

- we want to split train data 60%, validation data 20%, test data 20%
- but as sklearn can only split data into two parts, we will have to do this twice

In [7]:
# first split : train data 60%, test data 40%
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.4, random_state=42)

In [8]:
# second split again on test data: validation data 50%, test data 50%, half half
X_test, X_val, y_test, y_val = train_test_split(X_test, y_test, test_size=0.5, random_state=42 )

In [9]:
# make quick check
print(len(labels), len(y_train), len(y_val), len(y_test))

891 534 179 178