# 1) Intro to Groupby Module
+ Groupby is like a container where each bundle has a common theme

In [3]:
import pandas as pd

In [8]:
fortune = pd.read_csv('Data/fortune1000.csv', index_col=['Rank'])
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

## Groupby TIPS
- When we consider Groupby conditions, we want to group by using a column with smallest number of unique categories (such as Sector). There are multiple compaines that fall under each Sector. Similarly Industry is a good candidate for groupby too.
- There is no point groupby using Company in this example because every Company value is unique.

In [9]:
# check the number of unique values
fortune.nunique()

Company      996
Sector        21
Industry      73
Location     416
Revenue      945
Profits      760
Employees    755
dtype: int64

## How does it work behind the scence?
+ Pandas will look at Sector value (for example: Retailing). It then loop through the dataset and collect all the rows that fall under that specific Sector (For Example: It gonna collect Wallmart, then proceed all 1000 companines, take any rows fall under that same Sector). The same procedure will continue for each Sector.
+ Then once all collection is done, pandas will bundle them into a larger object which we can see as DataFrameGoupBy object.
+ So we can think of it like a container where each bundle has a common theme (in our case it is Common Sector)

**Groupby Object itself doesn't do anything, until we call methods upon it.**

In [12]:
sectors = fortune.groupby('Sector')
sectors

#### Take note that DataFrame and DataFrameGroupBy objects are completely different.

In [11]:
type(fortune), type(sectors)

(pandas.core.frame.DataFrame, pandas.core.groupby.generic.DataFrameGroupBy)

------

# 2) The `.groupby()` Method

In [13]:
fortune = pd.read_csv('Data/fortune1000.csv', index_col=['Rank'])
sectors = fortune.groupby('Sector')
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

## `length of Groupby` object using `len()`, we actually get the number of Groupings
There are 21 unique sectors in our object.

In [15]:
len(sectors)

21

In [16]:
fortune['Sector'].nunique()

21

## `Size()` of groupby object gives us each grouping details.

In [17]:
sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

### It is very similar to calling to `value_counts()`
+ The only difference is the sorting.

In [18]:
fortune['Sector'].value_counts()

Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Food, Beverages & Tobacco        43
Materials                        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Hotels, Resturants & Leisure     25
Media                            25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Food and Drug Stores             15
Telecommunications               15
Apparel                          15
Name: Sector, dtype: int64

## `first()` give us first row value of every grouping
we get 21 values as we have 21 grouping in our groupby object. Each value is the first row of each Sector.

In [22]:
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [19]:
sectors.first()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Apparel,Nike,Apparel,"Beaverton, OR",30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,"Milwaukee, WI",19330,419,27000
Chemicals,Dow Chemical,Chemicals,"Midland, MI",48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
Engineering & Construction,Fluor,"Engineering, Construction","Irving, TX",18114,413,38758
Financials,Berkshire Hathaway,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
Food and Drug Stores,CVS Health,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
"Food, Beverages & Tobacco",Archer Daniels Midland,Food Production,"Chicago, IL",67702,1849,32300
Health Care,McKesson,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
"Hotels, Resturants & Leisure",McDonald’s,Food Services,"Oak Brook, IL",25413,4529,420000
Household Products,Procter & Gamble,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
Industrials,General Electric,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
Materials,Alcoa,Metals,"New York, NY",22534,-322,60000
Media,Disney,Entertainment,"Burbank, CA",52465,8382,185000
Motor Vehicles & Parts,General Motors,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Retailing,Walmart,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Technology,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Telecommunications,AT&T,Telecommunications,"Dallas, TX",146801,13345,281450
Transportation,UPS,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
Wholesalers,Sysco,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

## `last()` give us the last row of each grouping

In [25]:
fortune.tail(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [23]:
sectors.last()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,Fred’s,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",Wendy’s,Food Services,"Dublin, OH",1896,161,21200
Household Products,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

## `groups` attribute gives a dictionary object
+ keys with Grouping Name (in our case Sector Name)
+ values as a list of values as Index Labels (in our case Index Labels of companies belong to that each Sector)

In [32]:
fortune.head(1)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000

In [31]:
fortune.loc[24] # we can check the company belong to that Sector.

Company                     Boeing
Sector         Aerospace & Defense
Industry     Aerospace and Defense
Location               Chicago, IL
Revenue                      96114
Profits                       5176
Employees                   161400
Name: 24, dtype: object

In [27]:
sectors.groups

{'Aerospace & Defense': [24, 45, 60, 88, 118, 120, 209, 245, 282, 378, 389, 490, 560, 605, 785, 788, 836, 903, 958, 987], 'Apparel': [91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877, 882, 917], 'Business Services': [144, 186, 199, 204, 221, 248, 249, 294, 307, 312, 355, 392, 404, 440, 467, 468, 481, 485, 492, 503, 545, 626, 635, 652, 677, 694, 714, 729, 734, 735, 737, 744, 767, 776, 777, 783, 791, 792, 796, 801, 803, 816, 819, 820, 869, 870, 886, 939, 951, 952, 993], 'Chemicals': [56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549, 555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829, 865, 898, 934, 949], 'Energy': [2, 14, 30, 32, 42, 65, 90, 95, 98, 104, 115, 117, 121, 162, 163, 165, 166, 175, 178, 188, 190, 192, 193, 198, 214, 216, 217, 223, 225, 229, 243, 246, 247, 257, 272, 274, 279, 289, 319, 322, 324, 343, 348, 349, 350, 363, 364, 384, 387, 388, 394, 402, 403, 410, 425, 437, 438, 445, 458, 475, 483, 493, 507, 522, 541, 548, 556, 558, 569, 571, 579, 598, 600, 606, 633, 650, 656, 662, 679, 692, 696, 703, 703, 706, 711, 715, 732, 742, 743, 745, 754, 772, 784, 798, 802, 810, 817, 826, 843, 850, ...], 'Engineering & Construction': [155, 156, 235, 260, 301, 314, 352, 381, 433, 478, 498, 501, 516, 572, 576, 640, 719, 738, 822, 863, 874, 892, 929, 963, 985, 994], 'Financials': [4, 16, 23, 26, 27, 29, 35, 40, 43, 49, 50, 61, 69, 73, 74, 76, 78, 81, 82, 83, 85, 100, 105, 112, 114, 131, 135, 137, 152, 171, 179, 184, 205, 210, 222, 226, 227, 232, 236, 250, 252, 259, 264, 265, 271, 273, 275, 283, 298, 306, 311, 318, 326, 329, 332, 344, 347, 367, 368, 376, 382, 398, 401, 411, 421, 436, 442, 449, 453, 453, 471, 472, 472, 476, 479, 482, 486, 488, 494, 497, 499, 506, 509, 510, 520, 529, 531, 536, 540, 551, 561, 568, 573, 590, 603, 609, 611, 646, 651, 663, ...], 'Food and Drug Stores': [7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849, 928], 'Food, Beverages & Tobacco': [41, 44, 62, 66, 84, 94, 106, 149, 153, 161, 176, 207, 215, 242, 266, 304, 336, 337, 362, 397, 413, 429, 452, 456, 460, 535, 542, 567, 574, 587, 608, 615, 636, 664, 686, 702, 770, 787, 795, 804, 889, 902, 954], 'Health Care': [5, 6, 12, 21, 22, 33, 39, 46, 52, 55, 63, 72, 79, 86, 123, 124, 125, 130, 138, 140, 141, 168, 172, 200, 201, 202, 263, 268, 278, 286, 287, 290, 291, 305, 325, 358, 359, 372, 420, 430, 431, 447, 457, 465, 469, 515, 527, 537, 553, 559, 583, 618, 629, 661, 684, 693, 697, 708, 746, 749, 766, 775, 790, 799, 815, 818, 845, 868, 881, 883, 935, 960, 965, 977, 978], 'Hotels, Resturants & Leisure': [109, 146, 195, 218, 241, 254, 309, 371, 444, 466, 534, 546, 557, 562, 585, 731, 763, 764, 779, 797, 895, 915, 918, 941, 999], 'Household Products': [34, 151, 174, 256, 261, 328, 338, 345, 370, 434, 441, 450, 455, 533, 550, 554, 601, 665, 699, 716, 856, 890, 900, 907, 932, 950, 967, 992], 'Industrials': [11, 59, 75, 93, 97, 128, 134, 148, 211, 224, 360, 377, 396, 412, 419, 539, 544, 596, 622, 623, 630, 645, 655, 658, 666, 674, 690, 757, 782, 789, 806, 813, 823, 831, 832, 835, 841, 847, 866, 867, 873, 887, 942, 947, 964, 1000], 'Materials': [126, 127, 170, 244, 251, 303, 321, 341, 356, 373, 375, 383, 417, 418, 426, 435, 446, 480, 489, 514, 518, 577, 586, 616, 617, 620, 625, 628, 637, 639, 641, 660, 667, 687, 691, 751, 774, 793, 857, 885, 911, 982, 986], 'Media': [53, 96, 99, 203, 213, 255, 327, 366, 406, 414, 525, 530, 681, 705, 707, 722, 741, 752, 759, 762, 821, 913, 968, 969, 989], 'Motor Vehicles & Parts': [8, 9, 70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470, 588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979], 'Retailing': [1, 15, 28, 38, 47, 71, 89, 103, 111, 132, 136, 139, 143, 145, 177, 180, 191, 196, 197, 228, 234, 237, 238, 240, 258, 267, 269, 280, 293, 297, 299, 302, 330, 342, 346, 361, 365, 374, 379, 380, 393, 415, 427, 439, 495, 500, 502, 511, 512, 517, 523, 582, 592, 602, 607, 610, 621, 643, 644, 648, 657, 675, 689, 721, 748, 771, 773, 807, 812, 824, 825, 827, 840, 876, 894, 899, 922, 937, 940, 973], 'Technology': [3, 18, 20, 25, 31, 36, 51, 54, 77, 110, 113, 133, 150, 157, 158, 164, 173, 194, 219, 220, 230, 233, 284, 295, 300, 308, 313, 331, 385, 386, 400, 408, 409, 422, 451, 462, 464, 487, 491, 504, 505, 508, 513, 519, 524, 532, 543, 552, 563, 565, 584, 589, 593, 594, 612, 632, 634, 638, 649, 659, 673, 676, 678, 682, 688, 700, 725, 733, 736, 753, 760, 769, 778, 805, 830, 834, 842, 854, 864, 871, 888, 891, 893, 896, 904, 905, 906, 909, 912, 914, 919, 927, 931, 943, 944, 946, 956, 970, 971, 975, ...], 'Telecommunications': [10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619, 786], 'Transportation': [48, 58, 67, 68, 80, 129, 142, 208, 239, 270, 353, 390, 395, 405, 407, 416, 432, 459, 521, 528, 570, 578, 642, 672, 709, 713, 740, 800, 814, 858, 884, 930, 933, 945, 972, 974], 'Wholesalers': [57, 64, 92, 102, 108, 119, 122, 167, 183, 185, 212, 276, 285, 315, 317, 320, 323, 335, 351, 357, 369, 391, 423, 463, 474, 477, 484, 564, 581, 599, 627, 653, 685, 727, 747, 780, 808, 837, 875, 991]}

------

# 3) Retrieve A Group with the `.get_group()` Method

In [33]:
fortune = pd.read_csv('Data/fortune1000.csv', index_col=['Rank'])
sectors = fortune.groupby('Sector')
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [39]:
sectors.get_group('Energy')
sectors.get_group('Technology')
sectors.get_group('Apparel')

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
231,VF,Apparel,Apparel,"Greensboro, NC",12377,1232,64000
340,PVH,Apparel,Apparel,"New York, NY",8020,572,26200
354,Ralph Lauren,Apparel,Apparel,"New York, NY",7620,702,20000
448,Hanesbrands,Apparel,Apparel,"Winston-Salem, NC",5732,429,65300
547,Levi Strauss,Apparel,Apparel,"San Francisco, CA",4495,209,12500
575,Coach,Apparel,Apparel,"New York, NY",4192,402,12950
597,Under Armour,Apparel,Apparel,"Baltimore, MD",3963,233,9600
683,Fossil Group,Apparel,Apparel,"Richardson, TX",3229,221,15100
695,Skechers U.S.A.,Apparel,Apparel,"Manhattan Beach, CA",3159,232,6400
726,Carter’s,Apparel,Apparel,"Atlanta, GA",3014,238,16800
794,Wolverine World Wide,Apparel,Apparel,"Rockford, MI",2692,123,6550
877,G-III Apparel Group,Apparel,Apparel,"New York, NY",2344,114,8919
882,Columbia Sportswear,Apparel,Apparel,"Portland, OR",2326,174,5978
917,Guess,Apparel,Apparel,"Los Angeles, CA",2204,82,13500

In [40]:
# same as calling like this
fortune[fortune['Sector'] == 'Apparel']

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
231,VF,Apparel,Apparel,"Greensboro, NC",12377,1232,64000
340,PVH,Apparel,Apparel,"New York, NY",8020,572,26200
354,Ralph Lauren,Apparel,Apparel,"New York, NY",7620,702,20000
448,Hanesbrands,Apparel,Apparel,"Winston-Salem, NC",5732,429,65300
547,Levi Strauss,Apparel,Apparel,"San Francisco, CA",4495,209,12500
575,Coach,Apparel,Apparel,"New York, NY",4192,402,12950
597,Under Armour,Apparel,Apparel,"Baltimore, MD",3963,233,9600
683,Fossil Group,Apparel,Apparel,"Richardson, TX",3229,221,15100
695,Skechers U.S.A.,Apparel,Apparel,"Manhattan Beach, CA",3159,232,6400
726,Carter’s,Apparel,Apparel,"Atlanta, GA",3014,238,16800
794,Wolverine World Wide,Apparel,Apparel,"Rockford, MI",2692,123,6550
877,G-III Apparel Group,Apparel,Apparel,"New York, NY",2344,114,8919
882,Columbia Sportswear,Apparel,Apparel,"Portland, OR",2326,174,5978
917,Guess,Apparel,Apparel,"Los Angeles, CA",2204,82,13500

------

# 4) Methods on the `Groupby` Object and `DataFrame` Columns

In [41]:
fortune = pd.read_csv('Data/fortune1000.csv', index_col=['Rank'])
sectors = fortune.groupby('Sector')
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

## using `max()` method
+ Pandas will look at the **left most column** in the row and give the largest value of it.
+ Example: in our case 'Company' is the last most column in each grouping. So it will get the largest string value of it.

In [45]:
sectors.get_group('Energy').head(1)

          Company            Industry    Location  Revenue  Profits  Employees
Rank
2     Exxon Mobil  Petroleum Refining  Irving, TX   246204    16150      75600

**We can see that 'Woodward' is the largest value (last value after descending ranking) in Aerospace & Defense Sector.**

In [43]:
sectors.max()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Woodward,Aerospace and Defense,"Wichita, KS",96114,7608,197200
Apparel,Wolverine World Wide,Apparel,"Winston-Salem, NC",30601,3273,65300
Business Services,Western Union,Waste Management,"Troy, MI",19330,6328,216500
Chemicals,Westlake Chemical,Chemicals,"Wilmington, DE",48778,7685,52000
Energy,Xcel Energy,Utilities: Gas and Electric,"Washington, DC",246204,16150,75600
Engineering & Construction,Tutor Perini,Homebuilders,"Watsonville, CA",18114,803,92000
Financials,Zions Bancorp.,Securities,"Worcester, MA",210821,24442,331000
Food and Drug Stores,Whole Foods Market,Food and Drug Stores,"Woonsocket, RI",153290,5237,431000
"Food, Beverages & Tobacco",WhiteWave Foods,Tobacco,"Winston-Salem, NC",67702,7351,263000
Health Care,inVentiv Health,Wholesalers: Health Care,"York, PA",181241,18108,203500
"Hotels, Resturants & Leisure",Yum Brands,"Hotels, Casinos, Resorts","Wyomissing, PA",25413,5920,505000
Household Products,Vista Outdoor,Miscellaneous,"Zeeland, MI",78756,7036,110000
Industrials,Zebra Technologies,Miscellaneous,"Wilmerding, PA",140389,4833,333000
Materials,Worthington Industries,"Packaging, Containers","Wyomissing, PA",22534,991,60000
Media,iHeartMedia,"Publishing, Printing","Sussex, WI",52465,8382,185000
Motor Vehicles & Parts,Wabash National,Motor Vehicles and Parts,"Van Buren Township, MI",152356,9687,215000
Retailing,hhgregg,Specialty Retailers: Other,"York, PA",482130,14694,2300000
Technology,salesforce.com,Semiconductors and Other Electronic Components,"Woburn, MA",233715,53394,411798
Telecommunications,Windstream Holdings,Telecommunications,"Stamford, CT",146801,17879,281450
Transportation,YRC Worldwide,"Trucking, Truck Leasing","Thomasville, NC",58363,7610,341240
Wholesalers,World Fuel Services,Wholesalers: Food and Grocery,"Waltham, MA",48681,1472,78500

## using `min()`
+ this is the opposite of max() and give the smallest value.

In [46]:
sectors.min()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,B/E Aerospace,Aerospace and Defense,"Berwyn, PA",1923,-240,6955
Apparel,Carter’s,Apparel,"Atlanta, GA",2204,82,5978
Business Services,ABM Industries,"Advertising, marketing","Arlington, VA",1910,-1481,2400
Chemicals,A. Schulman,Chemicals,"Allentown, PA",2084,-816,1979
Energy,AES,Energy,"Akron, OH",1898,-23119,480
Engineering & Construction,AECOM,"Engineering, Construction","Atlanta, GA",1909,-155,1036
Financials,AIG,Commercial Banks,"Atlanta, GA",1902,-1194,187
Food and Drug Stores,CVS Health,Food and Drug Stores,"Austin, TX",2151,-62,1616
"Food, Beverages & Tobacco",Alliance One International,Beverages,"Arden Hills, MN",2066,-253,1857
Health Care,AbbVie,Health Care: Insurance and Managed Care,"Abbott Park, IL",1987,-458,2924
"Hotels, Resturants & Leisure",Bloomin’ Brands,Food Services,"Ann Arbor, MI",1896,-1394,8500
Household Products,Avon Products,"Home Equipment, Furnishings","Atlanta, GA",1914,-1149,4406
Industrials,3M,Construction and Farm Machinery,"Annapolis Junction, MD",1895,-6126,4104
Materials,A-Mark Precious Metals,"Building Materials, Glass","Atlanta, GA",1924,-1642,52
Media,AMC Networks,Entertainment,"Beverly Hills, CA",1921,-881,2341
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Akron, OH",1986,-889,2700
Retailing,99 Cents Only Stores,"Automotive Retailing, Services","Ankeny, IA",1999,-1243,2155
Technology,Activision Blizzard,Computer Peripherals,"Angleton, TX",1920,-4359,2285
Telecommunications,AT&T,Telecommunications,"Bethpage, NY",2726,-271,2700
Transportation,Alaska Air Group,Airlines,"Atlanta, GA",1995,-191,1223
Wholesalers,Airgas,Miscellaneous,"Atlanta, GA",1917,-502,500

## using `sum()` and `mean()`
+ this will give **Total/Mean of every numeric columns** in each grouping
+ in our case it will Sum/Mean of Revenue, Profits, Employees

In [53]:
# we can prove this like that
sectors.get_group('Apparel')['Employees'].sum()
sectors.get_group('Apparel')['Revenue'].mean()

6397.866666666667

In [54]:
sectors.sum()
sectors.mean()

                                   Revenue      Profits     Employees
Sector
Aerospace & Defense           17897.000000  1437.100000  48402.850000
Apparel                        6397.866667   549.066667  23093.133333
Business Services              5337.156863   553.470588  26687.254902
Chemicals                      8129.900000   754.266667  15455.033333
Energy                        12441.057377  -602.024590   9745.303279
Engineering & Construction     5922.423077   204.000000  15642.615385
Financials                    15950.784173  1872.007194  24172.287770
Food and Drug Stores          32251.266667  1117.266667  93026.533333
Food, Beverages & Tobacco     12929.465116  1195.744186  28177.488372
Health Care                   21529.426667  1414.853333  35710.520000
Hotels, Resturants & Leisure   6781.840000   827.880000  99369.800000
Household Products             8383.464286   515.285714  23072.785714
Industrials                   10816.978261   451.391304  33591.934783
Materials                      6026.627907   102.976744  14840.069767
Media                          8830.560000   973.880000  22012.560000
Motor Vehicles & Parts        20105.833333  1079.083333  45106.666667
Retailing                     18313.450000   597.875000  77845.362500
Technology                    13505.882353  1769.343137  35087.735294
Telecommunications            30788.933333  3242.466667  55497.866667
Transportation                11347.444444  1226.916667  42688.694444
Wholesalers                   11120.000000   205.825000  13139.925000

## We can directly do mathmetic calculation on Grouping object too.

In [63]:
sectors['Revenue'].sum()
sectors['Profits'].mean()
sectors['Revenue'].min()
sectors['Employees'].max()

sectors[['Revenue', 'Profits']].sum()
sectors[['Employees', 'Profits']].max()

                              Employees  Profits
Sector
Aerospace & Defense              197200     7608
Apparel                           65300     3273
Business Services                216500     6328
Chemicals                         52000     7685
Energy                            75600    16150
Engineering & Construction        92000      803
Financials                       331000    24442
Food and Drug Stores             431000     5237
Food, Beverages & Tobacco        263000     7351
Health Care                      203500    18108
Hotels, Resturants & Leisure     505000     5920
Household Products               110000     7036
Industrials                      333000     4833
Materials                         60000      991
Media                            185000     8382
Motor Vehicles & Parts           215000     9687
Retailing                       2300000    14694
Technology                       411798    53394
Telecommunications               281450    17879
Transportation                   341240     7610
Wholesalers                       78500     1472

-------

# 5) Grouping by Multiple Columns

### Let's say we want to group by `Sector` and `Industry`

In [65]:
fortune = pd.read_csv('Data/fortune1000.csv', index_col=['Rank'])
sectors = fortune.groupby(['Sector', 'Industry']) # group by multiple columns (in our case Sector and Industry)
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [67]:
sectors.groups

{('Aerospace & Defense', 'Aerospace and Defense'): [24, 45, 60, 88, 118, 120, 209, 245, 282, 378, 389, 490, 560, 605, 785, 788, 836, 903, 958, 987], ('Apparel', 'Apparel'): [91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877, 882, 917], ('Business Services', 'Advertising, marketing'): [186, 355], ('Business Services', 'Diversified Outsourcing Services'): [199, 248, 485, 545, 626, 635, 714, 729, 744, 783, 803, 816, 819, 869], ('Business Services', 'Education'): [737, 820, 993], ('Business Services', 'Financial Data Services'): [204, 249, 294, 307, 392, 404, 468, 481, 492, 652, 694, 767, 776, 777, 792, 796, 801, 886, 952], ('Business Services', 'Miscellaneous'): [440, 734, 870], ('Business Services', 'Temporary Help'): [144, 467, 503, 791, 951], ('Business Services', 'Waste Management'): [221, 312, 677, 735, 939], ('Chemicals', 'Chemicals'): [56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549, 555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829, 865, 898, 934, 949], ('Energy', 'Energy'): [193, 364, 384, 402, 475, 558, 606, 633, 742, 784, 802, 810, 879, 962], ('Energy', 'Mining, Crude-Oil Production'): [90, 175, 216, 223, 225, 322, 324, 349, 388, 438, 458, 522, 598, 662, 703, 703, 706, 743, 754, 798, 826, 860, 862, 901, 955, 966, 981, 995], ('Energy', 'Miscellaneous'): [696], ('Energy', 'Oil and Gas Equipment, Services'): [117, 178, 192, 319, 410, 541, 692, 715, 772], ('Energy', 'Petroleum Refining'): [2, 14, 30, 32, 42, 98, 214, 217, 289, 394, 445, 569, 571, 732, 850, 953, 983], ('Energy', 'Pipelines'): [65, 104, 121, 198, 348, 387, 493, 656, 859, 908, 924, 948], ('Energy', 'Utilities: Gas and Electric'): [95, 115, 162, 163, 165, 166, 188, 190, 229, 243, 246, 247, 257, 272, 274, 279, 343, 350, 363, 403, 425, 437, 483, 507, 548, 556, 579, 600, 650, 679, 711, 745, 817, 843, 851, 853, 855, 921, 980, 997, 997], ('Engineering & Construction', 'Engineering, Construction'): [155, 156, 235, 314, 352, 381, 478, 501, 516, 572, 874, 892, 963, 985], ('Engineering & Construction', 'Homebuilders'): [260, 301, 433, 498, 576, 640, 719, 738, 822, 863, 929, 994], ('Financials', 'Commercial Banks'): [23, 26, 27, 29, 74, 78, 112, 131, 171, 179, 264, 273, 283, 329, 376, 453, 453, 486, 510, 520, 540, 603, 698, 765, 916, 938, 976, 996], ('Financials', 'Diversified Financials'): [16, 43, 83, 85, 184, 222, 232, 252, 298, 471, 494, 536, 712, 880, 923], ('Financials', 'Insurance: Life, Health (Mutual)'): [61, 76, 82, 100, 226, 318, 479, 844, 852, 925], ('Financials', 'Insurance: Life, Health (stock)'): [40, 50, 135, 205, 236, 265, 271, 306, 326, 367, 551, 590, 611, 701, 723, 750, 897, 926], ('Financials', 'Insurance: Property and Casualty (Mutual)'): [35, 69, 227, 398, 646, 755, 910], ('Financials', 'Insurance: Property and Casualty (Stock)'): [4, 49, 73, 81, 105, 114, 137, 152, 210, 275, 311, 332, 368, 411, 421, 442, 476, 497, 499, 506, 509, 531, 561, 728, 838, 878, 936, 959], ('Financials', 'Real estate'): [259, 436, 449, 472, 472, 488, 609, 651, 781, 828, 833, 846, 861, 920, 988], ('Financials', 'Securities'): [250, 344, 347, 382, 401, 482, 529, 568, 573, 663, 671, 680, 710, 730, 768, 839, 848, 872], ('Food and Drug Stores', 'Food and Drug Stores'): [7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849, 928], ('Food, Beverages & Tobacco', 'Beverages'): [62, 397, 413, 429, 542, 636, 702, 787, 889], ('Food, Beverages & Tobacco', 'Food Consumer Products'): [44, 94, 153, 161, 176, 207, 215, 304, 336, 337, 362, 452, 535, 567, 587, 608, 615, 686, 795, 804], ('Food, Beverages & Tobacco', 'Food Production'): [41, 66, 84, 242, 456, 460, 574, 664, 770], ('Food, Beverages & Tobacco', 'Tobacco'): [106, 149, 266, 902, 954], ('Health Care', 'Health Care: Insurance and Managed Care'): [6, 33, 46, 52, 79, 124, 172, 201, 202, 537, 749], ('Health Care', 'Health Care: Medical Facilities'): [63, 125, 140, 200, 290, 372, 430, 457, 515, 618, 693, 697, 766, 935], ('Health Care', 'Health Care: Pharmacy and Other Services'): [22, 325, 358, 447, 469, 553, 629, 746, 775, 881, 883, 960, 978], ('Health Care', 'Medical Products and Equipment'): [138, 278, 286, 287, 359, 431, 465, 661, 708, 790, 799, 818, 845, 868, 965, 977], ('Health Care', 'Pharmaceuticals'): [39, 55, 72, 86, 123, 130, 141, 168, 263, 305, 420, 527, 583, 684, 815], ('Health Care', 'Wholesalers: Health Care'): [5, 12, 21, 268, 291, 559], ('Hotels, Resturants & Leisure', 'Food Services'): [109, 146, 218, 371, 546, 557, 731, 763, 797, 915, 941, 999], ('Hotels, Resturants & Leisure', 'Hotels, Casinos, Resorts'): [195, 241, 254, 309, 444, 466, 534, 562, 585, 764, 779, 895, 918], ('Household Products', 'Home Equipment, Furnishings'): [256, 328, 338, 345, 434, 533, 601, 699, 716, 890, 932, 967], ('Household Products', 'Household and Personal Products'): [34, 151, 174, 261, 370, 441, 455, 554, 665, 856, 900, 907, 992], ('Household Products', 'Miscellaneous'): [450, 550, 950], ('Industrials', 'Construction and Farm Machinery'): [59, 97, 148, 360, 396, 658, 690, 813, 866], ('Industrials', 'Electronics, Electrical Equip.'): [75, 128, 134, 412, 419, 544, 623, 645, 666, 789, 831, 841, 887], ('Industrials', 'Industrial Machinery'): [11, 211, 224, 377, 539, 596, 622, 630, 655, 674, 757, 782, 806, 823, 832, 835, 847, 867, 873, 942, 947, 964, 1000], ('Industrials', 'Miscellaneous'): [93], ('Materials', 'Building Materials, Glass'): [480, 616, 637, 639, 641, 660, 857], ('Materials', 'Forest and Paper Products'): [373, 489, 625, 751, 793], ('Materials', 'Metals'): [126, 170, 244, 303, 356, 383, 417, 620, 667, 687, 691, 911, 982, 986], ('Materials', 'Miscellaneous'): [426], ('Materials', 'Packaging, Containers'): [127, 251, 321, 341, 375, 418, 435, 446, 514, 518, 577, 586, 617, 628, 774, 885], ('Media', 'Entertainment'): [53, 96, 99, 203, 213, 366, 406, 414, 525, 681, 705, 722, 741, 759, 762, 821, 913, 969], ('Media', 'Publishing, Printing'): [255, 327, 530, 707, 752, 968, 989], ('Motor Vehicles & Parts', 'Motor Vehicles and Parts'): [8, 9, 70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470, 588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979], ('Retailing', 'Automotive Retailing, Services'): [136, 143, 191, 267, 269, 297, 330, 346, 393, 511], ('Retailing', 'General Merchandisers'): [1, 38, 103, 111, 139, 145, 197, 228, 380, 773], ('Retailing', 'Specialty Retailers: Apparel'): [89, 177, 234, 237, 361, 500, 502, 523, 643, 644, 648, 657, 721, 807, 812, 824, 840, 876], ('Retailing', 'Specialty Retailers: Other'): [15, 28, 47, 71, 132, 180, 196, 238, 240, 258, 280, 293, 299, 302, 342, 365, 374, 379, 415, 427, 439, 495, 512, 517, 582, 592, 602, 607, 610, 621, 675, 689, 748, 771, 825, 827, 894, 899, 922, 937, 940, 973], ('Technology', 'Computer Peripherals'): [113, 194, 422, 638], ('Technology', 'Computer Software'): [25, 77, 386, 400, 524, 532, 543, 552, 563, 834, 842, 909, 919, 984], ('Technology', 'Computers, Office Equipment'): [3, 20, 409, 634, 778, 971, 975], ('Technology', 'Information Technology Services'): [31, 150, 220, 230, 233, 487, 504, 565, 673, 725, 927, 943, 946], ('Technology', 'Internet Services and Retailing'): [18, 36, 157, 284, 300, 308, 385, 513, 682, 688, 733, 736, 906, 914, 970], ('Technology', 'Network and Other Communications Equipment'): [54, 110, 313, 451, 462, 505, 519, 584, 612, 676, 700, 854, 904, 990], ('Technology', 'Scientific,Photographic and Control Equipment'): [133, 164, 589, 594, 632, 760, 864, 893, 896, 905, 912, 956], ('Technology', 'Semiconductors and Other Electronic Components'): [51, 158, 173, 219, 295, 331, 408, 464, 491, 508, 593, 649, 659, 678, 753, 769, 805, 830, 871, 888, 891, 931, 944], ('Telecommunications', 'Telecommunications'): [10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619, 786], ('Transportation', 'Airlines'): [67, 68, 80, 142, 405, 459, 709, 884, 933], ('Transportation', 'Mail, Package, and Freight Delivery'): [48, 58], ('Transportation', 'Miscellaneous'): [930], ('Transportation', 'Railroads'): [129, 239, 270, 858, 972], ('Transportation', 'Transportation Equipment'): [407, 432, 528, 578, 814], ('Transportation', 'Transportation and Logistics'): [208, 353, 390, 642, 974], ('Transportation', 'Trucking, Truck Leasing'): [395, 416, 521, 570, 672, 713, 740, 800, 945], ('Wholesalers', 'Miscellaneous'): [315], ('Wholesalers', 'Wholesalers: Diversified'): [92, 167, 183, 276, 285, 320, 323, 357, 369, 391, 423, 463, 484, 564, 581, 599, 627, 653, 727, 747, 780, 808, 837, 875, 991], ('Wholesalers', 'Wholesalers: Electronics and Office Equipment'): [64, 102, 108, 119, 212, 474, 477, 685], ('Wholesalers', 'Wholesalers: Food and Grocery'): [57, 122, 185, 317, 335, 351]}

### This allows us to go in more details by breaking down

In [72]:
sectors.size()
sectors.sum()

                                                                   Revenue  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                           357940
Apparel             Apparel                                          95968
Business Services   Advertising, marketing                           22748
                    Diversified Outsourcing Services                 64829
                    Education                                         7485
...                                                                    ...
Transportation      Trucking, Truck Leasing                          35950
Wholesalers         Miscellaneous                                     8982
                    Wholesalers: Diversified                        176138
                    Wholesalers: Electronics and Office Equipment   147906
                    Wholesalers: Food and Grocery                   111774

                                                                   Profits  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                            28742
Apparel             Apparel                                           8236
Business Services   Advertising, marketing                            1549
                    Diversified Outsourcing Services                  4305
                    Education                                           69
...                                                                    ...
Transportation      Trucking, Truck Leasing                           1910
Wholesalers         Miscellaneous                                       17
                    Wholesalers: Diversified                          5193
                    Wholesalers: Electronics and Office Equipment     1857
                    Wholesalers: Food and Grocery                     1166

                                                                   Employees
Sector              Industry
Aerospace & Defense Aerospace and Defense                             968057
Apparel             Apparel                                           346397
Business Services   Advertising, marketing                            124100
                    Diversified Outsourcing Services                  708330
                    Education                                          46755
...                                                                      ...
Transportation      Trucking, Truck Leasing                           170456
Wholesalers         Miscellaneous                                       9200
                    Wholesalers: Diversified                          233831
                    Wholesalers: Electronics and Office Equipment     166661
                    Wholesalers: Food and Grocery                     115905

[79 rows x 3 columns]

In [74]:
sectors['Revenue'].sum()
sectors['Employees'].mean()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            48402.850000
Apparel              Apparel                                          23093.133333
Business Services    Advertising, marketing                           62050.000000
                     Diversified Outsourcing Services                 50595.000000
                     Education                                        15585.000000
                                                                          ...
Transportation       Trucking, Truck Leasing                          18939.555556
Wholesalers          Miscellaneous                                     9200.000000
                     Wholesalers: Diversified                          9353.240000
                     Wholesalers: Electronics and Office Equipment    20832.625000
                     Wholesalers: Food and Grocery                    19317.500000
Name: Employees, Length: 79, dtype: float64

-----

# 6) The `.agg()` Method

In [75]:
fortune = pd.read_csv('Data/fortune1000.csv', index_col=['Rank'])
sectors = fortune.groupby('Sector')
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [77]:
sectors.mean()
sectors['Profits'].sum()

Sector
Aerospace & Defense              28742
Apparel                           8236
Business Services                28227
Chemicals                        22628
Energy                          -73447
Engineering & Construction        5304
Financials                      260209
Food and Drug Stores             16759
Food, Beverages & Tobacco        51417
Health Care                     106114
Hotels, Resturants & Leisure     20697
Household Products               14428
Industrials                      20764
Materials                         4428
Media                            24347
Motor Vehicles & Parts           25898
Retailing                        47830
Technology                      180473
Telecommunications               48637
Transportation                   44169
Wholesalers                       8233
Name: Profits, dtype: int64

### `.agg()` Method gives us the best of the world by combining above usages.
We need to provie
+ Option 1) a dictionary with key, values pair of **`column_name`: `aggregation method`**
+ Option 2) **list of agg methods** which will be performed on numerical columns
+ Option 3) we do the combination of above 2 options

We can mix and match based on our requirements.

## Option 1)

In [78]:
sectors.agg({
    'Revenue': 'sum',
    'Profits': 'sum',
    'Employees': 'mean'
})

                              Revenue  Profits     Employees
Sector
Aerospace & Defense            357940    28742  48402.850000
Apparel                         95968     8236  23093.133333
Business Services              272195    28227  26687.254902
Chemicals                      243897    22628  15455.033333
Energy                        1517809   -73447   9745.303279
Engineering & Construction     153983     5304  15642.615385
Financials                    2217159   260209  24172.287770
Food and Drug Stores           483769    16759  93026.533333
Food, Beverages & Tobacco      555967    51417  28177.488372
Health Care                   1614707   106114  35710.520000
Hotels, Resturants & Leisure   169546    20697  99369.800000
Household Products             234737    14428  23072.785714
Industrials                    497581    20764  33591.934783
Materials                      259145     4428  14840.069767
Media                          220764    24347  22012.560000
Motor Vehicles & Parts         482540    25898  45106.666667
Retailing                     1465076    47830  77845.362500
Technology                    1377600   180473  35087.735294
Telecommunications             461834    48637  55497.866667
Transportation                 408508    44169  42688.694444
Wholesalers                    444800     8233  13139.925000

## Option 2)

In [85]:
sectors.agg(['size', 'sum', 'mean', 'count', 'max', 'min', 'std']) # count returns same as size
sectors.agg(['size', 'sum', 'mean'])

                             Revenue                        Profits          \
                                size      sum          mean    size     sum
Sector
Aerospace & Defense               20   357940  17897.000000      20   28742
Apparel                           15    95968   6397.866667      15    8236
Business Services                 51   272195   5337.156863      51   28227
Chemicals                         30   243897   8129.900000      30   22628
Energy                           122  1517809  12441.057377     122  -73447
Engineering & Construction        26   153983   5922.423077      26    5304
Financials                       139  2217159  15950.784173     139  260209
Food and Drug Stores              15   483769  32251.266667      15   16759
Food, Beverages & Tobacco         43   555967  12929.465116      43   51417
Health Care                       75  1614707  21529.426667      75  106114
Hotels, Resturants & Leisure      25   169546   6781.840000      25   20697
Household Products                28   234737   8383.464286      28   14428
Industrials                       46   497581  10816.978261      46   20764
Materials                         43   259145   6026.627907      43    4428
Media                             25   220764   8830.560000      25   24347
Motor Vehicles & Parts            24   482540  20105.833333      24   25898
Retailing                         80  1465076  18313.450000      80   47830
Technology                       102  1377600  13505.882353     102  180473
Telecommunications                15   461834  30788.933333      15   48637
Transportation                    36   408508  11347.444444      36   44169
Wholesalers                       40   444800  11120.000000      40    8233

                                          Employees
                                     mean      size      sum          mean
Sector
Aerospace & Defense           1437.100000        20   968057  48402.850000
Apparel                        549.066667        15   346397  23093.133333
Business Services              553.470588        51  1361050  26687.254902
Chemicals                      754.266667        30   463651  15455.033333
Energy                        -602.024590       122  1188927   9745.303279
Engineering & Construction     204.000000        26   406708  15642.615385
Financials                    1872.007194       139  3359948  24172.287770
Food and Drug Stores          1117.266667        15  1395398  93026.533333
Food, Beverages & Tobacco     1195.744186        43  1211632  28177.488372
Health Care                   1414.853333        75  2678289  35710.520000
Hotels, Resturants & Leisure   827.880000        25  2484245  99369.800000
Household Products             515.285714        28   646038  23072.785714
Industrials                    451.391304        46  1545229  33591.934783
Materials                      102.976744        43   638123  14840.069767
Media                          973.880000        25   550314  22012.560000
Motor Vehicles & Parts        1079.083333        24  1082560  45106.666667
Retailing                      597.875000        80  6227629  77845.362500
Technology                    1769.343137       102  3578949  35087.735294
Telecommunications            3242.466667        15   832468  55497.866667
Transportation                1226.916667        36  1536793  42688.694444
Wholesalers                    205.825000        40   525597  13139.925000

## Option 3)

In [90]:
sectors.agg({
    'Revenue': ['sum', 'mean'],
    'Profits': 'sum',
    'Employees': 'mean'
})

                              Revenue               Profits     Employees
                                  sum          mean     sum          mean
Sector
Aerospace & Defense            357940  17897.000000   28742  48402.850000
Apparel                         95968   6397.866667    8236  23093.133333
Business Services              272195   5337.156863   28227  26687.254902
Chemicals                      243897   8129.900000   22628  15455.033333
Energy                        1517809  12441.057377  -73447   9745.303279
Engineering & Construction     153983   5922.423077    5304  15642.615385
Financials                    2217159  15950.784173  260209  24172.287770
Food and Drug Stores           483769  32251.266667   16759  93026.533333
Food, Beverages & Tobacco      555967  12929.465116   51417  28177.488372
Health Care                   1614707  21529.426667  106114  35710.520000
Hotels, Resturants & Leisure   169546   6781.840000   20697  99369.800000
Household Products             234737   8383.464286   14428  23072.785714
Industrials                    497581  10816.978261   20764  33591.934783
Materials                      259145   6026.627907    4428  14840.069767
Media                          220764   8830.560000   24347  22012.560000
Motor Vehicles & Parts         482540  20105.833333   25898  45106.666667
Retailing                     1465076  18313.450000   47830  77845.362500
Technology                    1377600  13505.882353  180473  35087.735294
Telecommunications             461834  30788.933333   48637  55497.866667
Transportation                 408508  11347.444444   44169  42688.694444
Wholesalers                    444800  11120.000000    8233  13139.925000

------

# 7) Iterating through Groups

In [91]:
fortune = pd.read_csv('Data/fortune1000.csv', index_col=['Rank'])
sectors = fortune.groupby('Sector')
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

## We want to extract company with the Most Revenue. What is that?

In [94]:
sectors['Profits'].max() # this doesn't give the whole row information.

Sector
Aerospace & Defense              7608
Apparel                          3273
Business Services                6328
Chemicals                        7685
Energy                          16150
Engineering & Construction        803
Financials                      24442
Food and Drug Stores             5237
Food, Beverages & Tobacco        7351
Health Care                     18108
Hotels, Resturants & Leisure     5920
Household Products               7036
Industrials                      4833
Materials                         991
Media                            8382
Motor Vehicles & Parts           9687
Retailing                       14694
Technology                      53394
Telecommunications              17879
Transportation                   7610
Wholesalers                      1472
Name: Profits, dtype: int64

### First create the empty dataframe following the same columns from original DF

In [95]:
df = pd.DataFrame(columns=fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

### Then we will iterate through the whole DF

In [97]:
for sector, data in sectors:
    highest_revenue_company_in_group = data.nlargest(1, 'Revenue') # get the top one result of highest revenue
    df = df.append(highest_revenue_company_in_group)

In [98]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
109,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
126,Alcoa,Materials,Metals,"New York, NY",22534,-322,60000
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

## Example 2) Let's say we want the Location City based, which has the highest Revenue in each group.

In [100]:
# first create a groupby object based on cities
cities = fortune.groupby('Location')
cities

In [101]:
# create empty df with columns
df = pd.DataFrame(columns=fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [104]:
# loop through to find the largest one
for city, data in cities:
    highest_revenue_company_in_city = data.nlargest(1, 'Revenue')
    df = df.append(highest_revenue_company_in_city)

In [105]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
138,Abbott Laboratories,Health Care,Medical Products and Equipment,"Abbott Park, IL",20661,4423,74000
169,Goodyear Tire & Rubber,Motor Vehicles & Parts,Motor Vehicles and Parts,"Akron, OH",16443,307,66000
288,Air Products & Chemicals,Chemicals,Chemicals,"Allentown, PA",9895,1278,19550
830,Benchmark Electronics,Technology,Semiconductors and Other Electronic Components,"Angleton, TX",2541,95,10500
374,Casey’s General Stores,Retailing,Specialty Retailers: Other,"Ankeny, IA",7052,181,22408
...,...,...,...,...,...,...,...
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
506,Hanover Insurance Group,Financials,Insurance: Property and Casualty (Stock),"Worcester, MA",5034,332,4800
764,Penn National Gaming,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","Wyomissing, PA",2838,1,18204
773,Bon-Ton Stores,Retailing,General Merchandisers,"York, PA",2790,-57,24100
932,Herman Miller,Household Products,"Home Equipment, Furnishings","Zeeland, MI",2142,98,7510

-------